.wrap {
	max-width: 800px;
	margin: var(--space-lg) auto;
	padding: 0 20px;
}

/* ======POST======= */
.postSection {
	margin-bottom: 40px;
}

.postCreateData {
	display: flex;
	justify-content: space-between;
}

.createInfo {
	font-size: 12px;
	color: var(--color-secondary);
}

.title {
	font-size: 32px;
	font-weight: 700;
	margin: var(--space-lg) 0;
}

.postBody {
	font-size: var(--font-size-base);
	text-align: justify;
	line-height: 1.6;
	color: var(--color-text);
}

/* =====COMMENTS======= */

.noComments {
	text-align: center;
	font-size: 18px;
	color: var(--color-secondary);
	min-height: 150px; /* растягиваем секцию */
	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--color-bg);
	border: 1px solid var(--color-border);
	border-radius: var(--radius);
	padding: 40px;
	margin-bottom: var(--space-lg);
}
