.nav {
	display: flex;
	align-items: center;
	height: 60px;
}

.links {
	margin-left: auto;
	display: flex;
	gap: 20px;
}

.link {
	text-transform: uppercase;
	text-decoration: none;
	color: #333;
	font-weight: 500;
	transition: color 0.2s ease;
}

.link:hover {
	color: teal;
}
