.toolbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	flex-wrap: wrap;
	gap: 12px;
}

.controls {
	display: flex;
	align-items: center;
	gap: 12px;
}

.filter {
	display: flex;
	gap: 12px;
}

.postlist {
	padding: 20px 0;
}
